body{
    background-color: rgb(2, 2, 99);
}

.main-container{
    font-size: 30px;
    color: white;
}

.encabezado {
    background: rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.encabezado .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.logo img {
    height: 80px;          
    width: auto;
    display: block;
}

.logo span {
    font-size: 35px;
    color: #00ff88;        
}


.nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: #00ff88;
}

.titulo {
    text-align: center;
    padding: 64px 0;
    background: linear-gradient(rgba(2, 2, 99, 0.8), rgb(2, 2, 99));
}