body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 50px;
    padding: 100px 20px; 
    flex: 1; 
    background-color: #0a0a0a; 
}


.contact-info, .contact-form {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}


.footer-principal {
    width: 100%;
    position: relative; 
    clear: both; 
}