body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: rgb(2, 2, 99);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.encabezado {
    background: rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.encabezado .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.logo img {
    height: 80px;          
    width: auto;
    display: block;
}

.logo span {
    font-size: 35px;
    color: #00ff88;        
}


.nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: #00ff88;
}

.titulo {
    text-align: center;
    padding: 64px 0;
    background: linear-gradient(rgba(2, 2, 99, 0.8), rgb(2, 2, 99));
}

.titulo h2 {
    font-size: 40px;
    margin-bottom: 16px;
}

.Noticias{
    font-size: 25px;
}

.imgNoticias{
    display: flex;
    width: 900px;
    max-width: 100%;
    align-items: center;
    align-content: center;
    margin: auto;
}

.UN{
    text-align: center;
    color: red;
    font-size: 45px;

}

.leer-mas{
    text-align: center;
    border: 1px solid red;
    padding: 10px;
    text-decoration: none;
    
}

/*Cartas de videojuegos*/

body {
  background-color: rgb(2, 2, 99);
}

.videojuegos {
  padding: 40px;
  text-align: center;
}

.videojuegos h1 {
  color: white;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 280px;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

.card button:hover {
  background-color: rgb(2, 2, 99);
}