/*Cartas de videojuegos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0a2e6d;
}

.videojuegos {
  padding: 40px;
  text-align: center;
}

.videojuegos h1 {
  color: white;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 280px;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

.card button:hover {
  background-color: #1f447c;
}

